.content {
  background-color: rgb(78, 78, 76);
  height: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.full-width {
  width: 90%;
  margin: 10px 5px 2px 5px;
}

.mat-button {
  display: block;
  margin: 5px 0;
}

mat-card {
  margin: 0 10px 20px;
  background-color: rgb(222, 231, 231);
}
